.idea
target/
out/
*.log
*.iws
*.ipr
*.iml
*.bak
*~
*#
logs/
project/plugins/src_managed/
project/plugins/project/
project/boot/*
lib_managed
dist
target
deploy
.project
.settings
.classpath
.scala_dependencies
.DS_Store
